body {
    font-family: "Lato", sans-serif;
}

input::-webkit-input-placeholder {
    color: rgb(153, 153, 153) !important;
}

input::-moz-placeholder {
    color: rgb(153, 153, 153) !important;
}

input:-ms-input-placeholder {
    color: rgb(153, 153, 153) !important;
}

input::placeholder {
    color: rgb(153, 153, 153) !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 194, 194);
}

.sidenav {
    height: 100%;
    width: 25%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d133e;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #fff;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px;
    /* Same as the width of the sidenav */
    /* font-size: 28px; */
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group>.list-group-item {
    background-color: #0d133e;
}

.panel-title>a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.panel-title>a>svg {
    font-size: 16px;
}

#accordion>.panel>.panel-heading>.panel-title>a {
    font-size: 20px;
}

.list-group>a {
    padding-left: 45px;
    font-size: 18px;
}

.sidenav a:hover {
    background-color: #818181;
}

.panel-title {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidenav .panel-title:hover {
    background-color: #818181;
}

.titulo {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sidenav {
    padding-top: 60px;
}

.tabela-exibe {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.tabela-exibe th {
    margin-top: 15px;
    border-top-color: transparent;
}

/* .first-line {
    display: flex;
    justify-content: space-around;
} */
.uf {
    padding-right: 10px;
    padding-left: 10px;
}

button.visualizar-btn {
    margin-right: 5px;
    /* font-size: 20px;
    padding: .34rem .7rem */
}

.card-cliente {
    /* width: fit-content; */
}

#cliente-col {
    /* text-align: right; */
}

.tabela-cliente {
    max-height: 178px;
    overflow-y: scroll;
}

.tabela-cliente table {
    width: 100%;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    overflow: visible;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.controle {
    margin-top: 55px;
    text-align: center;
    vertical-align: middle;
}

.controle div {
    display: flex;
    align-items: center;
}

.print-save {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.print-save button {
    margin-right: 15px;
}

.gerer-contrato {
    margin-top: 3em;
    text-align: center;
}

#gerar-contrato:disabled {
    cursor: not-allowed;
}

.assinatura {
    border-bottom: 1px solid #000;
}

#nova-atividade {
    position: relative;
    bottom: 0;
    margin-top: 15px;
    left: 0;
    width: fit-content;
}

.btn-nova-atividade {
    padding-left: 30px;
}

.center {
    text-align: center;
}

.tabela-abrir-os tr td:last-child,
.tabela-abrir-os tr th:last-child {
    text-align: center;
}

.pr-15 tr td,
.pr-15 tr th {
    padding-right: 1.5rem;
}

.checkbox-finalizada {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.width-75vw {
    width: 75vw;
}

.justificativa {
    margin-top: 7px;
    margin-left: 35px;
}